*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button, select, textarea {

  font-family: 'Poppins', sans-serif;
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 448px;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page {
  width: 750px;
  margin: 107px auto ;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  
  color: #FFFFFF;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

color: #FFFFFF;
}

.titulo {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #FFFFFF;

  width: 750px;
  height: 133px;

  text-align: center;
  padding: 50px;
  margin-top: 32px;

  background: #F67669;
  border-radius: 20px 20px 0px 0px;
}

form {
  background: #FFFFFF;

  padding: 0px 64px 55px;
  border-radius: 0px 0px 20px 20px;
  min-height: 300px;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-top: 30px;
  margin-bottom: 8px;

  color: #4E4958;
}

.input-wrapper input {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;
}
  
.col-2 {
  display: flex;
  gap: 22px;
  margin-bottom: 16px;
}

.col-2 > div:nth-child(1) {
  width: 100%;
}

.col-2 > div:nth-child(2) {
  width: 100%;
}
  
fieldset {
  border: 0;
}

fieldset legend {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  padding-top: 32px;
  text-align: center;

  width: 100%;
  
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  color: #253B51;
}

.fieldset-wrapper label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;

  color: #4E4958;
}

.input-wrapper-second {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.input-wrapper-second select, .input-wrapper textarea {
  appearance: none;
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  

  height: 56px;
  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  width: 300px;
}

.input-wrapper textarea {
  padding: 15px 24px;
  height: 166px;
  width: 100%;

  margin-bottom: 30px;
}

.checkbox-wrapper label {
  display: flex;
  gap: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}


.checkbox-wrapper input {
  display: none;
}

.checkbox-wrapper label::before {
  content: '';
 
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #b1b1b8;
  border-radius: 8px;
  
}

.col-3 {
  display: flex;
  gap: 32px;
  
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.button {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  
  margin-top: 40px;
  
  width: 622px;
  height: 51px;

  color: #FFFFFF;

  background: #F67669;
  border-radius: 8px;
  border: 0;
}

input:invalid {
  border: 1px solid red;
}